/*SOMMAIRE :
1/ Je définis les paramètres de mon body
2/ Mise en forme de l'acceuil
3/ Mise en forme de mes projets
4/ Mise en forme du bouton vers mon CV
5/ Mise en forme pied de page*/

/* //PARAMETRES BODY// */
header {
    min-height: 100vh;
    background-color: rgb(0, 84, 120);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //MISE EN FORME ACCEUIL// */
.accueil {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;/*Permet que les éléments passent à la ligne si taille d'écran insuffisante*/
    gap: 2rem;
    padding-inline: 2rem;
    max-width: 1000px;
}

.accueil > * { /*Sélectionne tous les éléments dans la class accueil*/
    flex: 1 1 250px;/*Fonctionne avec flex wrap*/
}

.accueil > img { /*Séléctionne l'image d'accueil*/
    max-width: 450px;
    object-fit: cover;
}

h1 {
    font-size: 96px;
    font-weight: bold;
    color: white;
    font-family: "IBM Plex Mono", monospace;
}

.accueil-text p {
    font-size: 20px;
    font-weight: normal;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    max-width: 630px;
}

header img {
    max-width: 512px;/*Pour une image responsive*/
    object-fit: cover;/*Pour que l'image garde ses proportions*/
    border-radius: 20px;
    width: 100%;
    margin: 20px;
}

/* //MISE EN FORME PROJETS// */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

main h2 {
    font-family: "IBM Plex Mono", monospace;
    color: black;
    font-size: 40px ;
    font-weight: bold;
}

.projets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.site-japon,
.jankenpon {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 498px;
    max-height: 480px;
    background-color: rgb(0, 84, 120);
    padding: 40px;
    border-radius: 20px;
    flex: 1 1 250px;
}

.site-japon img {
    max-width: 382px;/*Pour une image responsive*/
    object-fit: cover;/*Pour que l'image garde ses proportions*/
}

.jankenpon img {
    max-width: 330px;/*Pour une image responsive*/
    object-fit: cover;/*Pour que l'image garde ses proportions*/
}

.site-japon h3,
.jankenpon h3 {
    font-family: "IBM Plex Mono", monospace;
    color: white;
    font-size: 24px ;
    font-weight: bold;
    padding-top: 20px;
}

.site-japon p,
.jankenpon p {
    font-family: "IBM Plex Mono", monospace;
    color: white;
    font-size: 20px ;
    font-weight: medium;
    padding-top: 20px;
    padding-bottom: 20px ;
}

.liens img {
    max-width: 34px;/*Pour une image responsive*/
    object-fit: cover;/*Pour que l'image garde ses proportions*/
    fill: white;
}

.liens a:hover {
    cursor: pointer;/*Pour que le curseur change qund on page sur le bouton*/
}

main ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

/* //MISE EN FORME BOUTON CV// */
#cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 84, 120);
    border-radius: 20px;
    width: 350px;
    height: 60px;
    text-decoration: none;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 200px;
}

#cv:hover {
    cursor: pointer;/*Pour que le curseur change qund on page sur le bouton*/
}

/* //MISE EN FORME PIED DE PAGE// */
footer {
    width: 100%;
    position: static;
    bottom: 0;
    background-color: rgb(0, 84, 120);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

footer p {
    font-family: "IBM Plex Mono", monospace;
    color: white;
    font-size: 16px ;
    font-weight: bold;
}

/*Je n'utilise pas de media queries car le site est responsive avec flexbox*/